/* CSS Home */
.contenedorGeneral{
    height: 190vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    background-color: rgb(172, 152, 152);
}
a:link {
    text-decoration: none;
}
.barraNavegacion{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 6em;
    background-color: rgb(204, 193, 193);
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px rgb(90, 73, 50) solid;
}
.logo {
    height: 5em;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.link{
    height: 3em;
    width: 8em;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fuenteLinks{
    color: rgb(124, 100, 68);
    font-weight: bold;
    font-size: 1.2em;
}
.fuenteLinks:hover {
    color: rgb(90, 73, 50);
}
.cuerpo{
    background: linear-gradient(to right, rgb(216, 197, 181), rgb(236, 200, 144));
    width: 100%;
    height: 100em;
    position: absolute;
    top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.centro {
    width: 70%;
    height: 100em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bordes {
    height: 100em;
    width: 15%;
}
.espacioVacio {
    width: 100%;
    height: 6em;
}
.contenido {
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titulo {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.parrafo {
    margin-bottom: 5px;
    width: 100%;
    height: 28em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.parrafoTexto{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.espacioMovil{
    width: 4%;
    height: 100%;
}
.espacioTexto{
    width: 92%;
    height: 100%;
    display: flex;
    align-items: center;
}
.propiedadesTexto{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.parrafoImagen{
    width: 50%;
    height: 100%;
}
.imagenesHome{
    width: 100%;
    height: 100%;
}

.piePagina{
    width: 100%;
    height: 11em;
    position: absolute;
    top: 106em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(97, 52, 52);
}
.direccion{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
}
.textoFooter{
    font-weight: bold;
    color: wheat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textoFooter:hover{
    color: rgb(220, 195, 148);
}
.linkDerechos{
    height: 3em;
    width: 8em;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* CSS Carta */
.contenedorGeneralCarta{
    height: 190vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}
.cuerpoCarta{
    background: linear-gradient(to right, rgb(216, 197, 181), rgb(236, 200, 144));
    width: 100%;
    height: 100em;
    position: absolute;
    top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.centroCarta {
    width: 70%;
    height: 100em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.gridPizzas {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 4;
    width: 100%;
    height: 100%;
}
.gridPizza{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pizzas{
    border-radius: 1em;
    width: 16em;
}
.espacioPizza {
    height: 4em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.piePaginaCarta{
    width: 100%;
    height: 11em;
    position: absolute;
    top: 106em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(97, 52, 52);
}

.contenedorGeneralContacto{
    height: 139vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    background-color: rgb(172, 152, 152);
}
.bordesContacto {
    height: 66em;
    width: 15%;
}
.contenidoFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenidoContacto {
    width: 100%;
    height: 94%;
}
.textoCentrado{
    text-align: center;
}
.cuerpoContacto{
    background: linear-gradient(to right, rgb(216, 197, 181), rgb(236, 200, 144));
    width: 100%;
    height: 79em;
    position: absolute;
    top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.piePaginaContacto{
    width: 100%;
    height: 11em;
    position: absolute;
    top: 74em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(97, 52, 52);
}
.centroContacto {
    width: 70%;
    height: 79em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.desplegable{
    position: relative;
}
.linkDesplegable{
    width: 1rem;
    padding: 0;
}
.menuDesplegable{
    position: absolute;
    top: 5em;
    right: calc(2rem + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.desplegable > .linkDesplegable:focus .menuDesplegable{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@media (max-width: 1200px) {
    .bordes{
        width: 0%;
    }
    .bordesContacto{
        width: 0%;
    }
    .centro{
        width: 100%;
    }
    .centroCarta {
        width: 100%;
    }
    .centroContacto{
        width: 100%;
    }

}
@media (max-width:1000px){
    .gridPizzas {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 8;
        width: 100%;
        height: 100%;
    }
    .contenedorGeneralCarta{
        height: 344vh;
    }
    .centroCarta{
        height: 200em;
    }
    .cuerpoCarta {
        height: 205em;
    }
    .piePaginaCarta{
        top:200em;
    }
}
@media (max-width: 800px) {
    .parrafo{
        height: 56em;
        flex-direction: column;
    }
    .parrafoTexto{
        width: 100%;
        height: 100%;
    }
    .parrafoImagen{
        width: 80%;
        height: 80%;
    }
}
@media (max-width: 500px) {
    .link{
        display: none;
    }
    .piePagina .piePaginaCarta .piePaginaContacto{
        justify-content: flex-start;
    }

    .pizzas{
        width: 13em;
    }
}