.contenedorGeneral{
    height: 190vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    background-color: rgb(172, 152, 152);
}
.link a:link {
    text-decoration: none;
}
.barraNavegacion{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 6em;
    background-color: rgb(204, 193, 193);
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px rgb(90, 73, 50) solid;
}
.logo {
    height: 5em;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.link{
    height: 3em;
    width: 8em;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fuenteLinks{
    color: rgb(124, 100, 68);
    font-weight: bold;
    font-size: 1.2em;
}
.fuenteLinks:hover {
    color: rgb(90, 73, 50);
}
.cuerpo{
    background: linear-gradient(to right, rgb(216, 197, 181), rgb(236, 200, 144));
    width: 100%;
    height: 100em;
    position: absolute;
    top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.centro {
    width: 70%;
    height: 100em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bordes {
    height: 100em;
    width: 15%;
}
.espacioVacio {
    width: 100%;
    height: 6em;
}
.contenido {
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titulo {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.parrafo {
    margin-bottom: 5px;
    width: 100%;
    height: 28em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.parrafoTexto{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.espacioMovil{
    width: 3%;
    height: 100%;
}
.espacioTexto{
    width: 97%;
    height: 100%;
}
.propiedadesTexto{
    font-family: Arial, Helvetica, sans-serif;
}
.parrafoImagen{
    width: 50%;
    height: 100%;
}
.imagenesHome{
    width: 100%;
    height: 100%;
}

.piePagina{
    width: 100%;
    height: 11em;
    position: absolute;
    top: 106em;
    display: flex;
    flex-direction: row;
    background-color: rgb(101, 40, 40);
}




@media (max-width: 1200px) {
    .bordes{
        width: 0%;
    }
    .centro{
        width: 100%;
    }
}
@media (max-width: 800px) {
    .parrafo{
        height: 56em;
        flex-direction: column;
    }
    .parrafoTexto{
        width: 100%;
        height: 100%;
    }
    .parrafoImagen{
        width: 80%;
        height: 80%;
    }
}